<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src='/asset/zepto.min.js'></script>
        <script type="text/javascript" src='/asset/cordova-2.3.0.js'></script>
        <script type="text/javascript" src='/asset/iscroll.js'></script>
    </head>
    <body>
        <div class="header">
            <h3>我的团购券</h3>
        </div>
        <div id="content-wrapper">
            <div class="content">
                <ul class="tickets">
                    <li>
                        <div class="ticket-title clearfix">
                            <h4>毒犯国际万裕影城</h4>
                            <span>2013-01-30</span>
                        </div>
                            
                        <div class="ticket-extral-info clearfix">
                            <span class="ticket-no">券号：9646879567</span>
                            <span class="ticket-vertify-status"><i class="ico-vertify-status-ok"></i>验证成功</span>
                        </div>
                    </li>
                    <li>
                        <h4>毒犯国际万裕影城</h4>
                        <div>券号：<span>9646879567</span></div>
                    </li>
                    <li>
                        <h4>毒犯国际万裕影城</h4>
                        <div>券号：<span>9646879567</span></div>
                    </li>
                    <li>
                        <h4>毒犯国际万裕影城</h4>
                        <div>券号：<span>9646879567</span></div>
                    </li>
                    <li>
                        <h4>毒犯国际万裕影城</h4>
                        <div><span>9646879567</span></div>
                    </li>
                    <li>
                        <h4>毒犯国际万裕影城</h4>
                        <div><span>9646879567</span></div>
                    </li>
                    <li>
                        <h4>毒犯国际万裕影城</h4>
                        <div><span>9646879567</span></div>
                    </li>
                    <li>
                        <h4>毒犯国际万裕影城</h4>
                        <div><span>9646879567</span></div>
                    </li>
                    <li>
                        <h4>毒犯国际万裕影城</h4>
                        <div><span>9646879567</span></div>
                    </li>
                    <li>
                        <h4>毒犯国际万裕影城</h4>
                        <div><span>9646879567</span></div>
                    </li>
                    <li>
                        <h4>毒犯国际万裕影城</h4>
                        <div><span>9646879567</span></div>
                    </li>
                    <li>
                        <h4>毒犯国际万裕影城</h4>
                        <div><span>9646879567</span></div>
                    </li>
                    <li>
                        <h4>毒犯国际万裕影城</h4>
                        <div><span>9646879567</span></div>
                    </li>
                    <li>
                        <h4>毒犯国际万裕影城</h4>
                        <div><span>9646879567</span></div>
                    </li>
                    <li>
                        <h4>毒犯国际万裕影城</h4>
                        <div><span>9646879567</span></div>
                    </li>
                    <li>
                        <h4>毒犯国际万裕影城</h4>
                        <div><span>9646879567</span></div>
                    </li>
                    <li>
                        <h4>毒犯国际万裕影城</h4>
                        <div><span>9646879567</span></div>
                    </li>
                    <li>
                        <h4>毒犯国际万裕影城</h4>
                        <div><span>9646879567</span></div>
                    </li>
                    <li>
                        <h4>毒犯国际万裕影城</h4>
                        <div><span>9646879567</span></div>
                    </li>
                    <li>
                        <h4>毒犯国际万裕影城</h4>
                        <div><span>9646879567</span></div>
                    </li>
                </ul>
            </div>
        </div>
        <script type="text/javascript" src='/javascripts/customer.js'></script>
    </body>
</html>
