<!DOCTYPE html>
<html>
<head>
    <script type = "text/javascript" src = '/asset/cordova-2.3.0.js' ></script>
    <script type = "text/javascript" src = '/javascripts/bump.js' ></script>
    <script type="text/javascript" charset="utf-8">
        var findAPair = function () {
            var arr = [
                {"id":"aa","res":9},
                {"id":"bb","res":7},
                {"id":"aa","res":9},
                {"id":7,"res":"bb"},
                {"id":"aa","res":9},
            ];
            console.debug("Hi");
            console.debug(arr);

            var result=[];
            for(var i = 0; i< arr.length; i++ )
            {
                for( var j = i+1; j < arr.length; j++)
                {
                    if(arr[i].id == arr[j].res) {
                        result.push(arr[i]);
                        result.push(arr[j]);
                        console.debug(i);
                        console.debug(j);
                        break;
                    }
                }
            }

            /*return result;*/
            console.debug(result);
        }

        findAPair();
    </script>
  </head>
  <body>

  </body>
</html>
