<!DOCTYPE html>
<html>
<head>
    <script type = "text/javascript" src = '/asset/cordova-2.3.0.js' ></script>
    <script type = "text/javascript" src = '/javascripts/bump.js' ></script>
    <script type="text/javascript" charset="utf-8">

    document.addEventListener("deviceready", onDeviceReady, false);

    function onDeviceReady() {
        startBump(function(latitude,longitude,data){
            alert(latitude + ' ' +longitude+ ' ' + data);
        });
    }

    </script>
  </head>
  <body>
    <div id="accelerometer">Waiting for accelerometer...</div>
  </body>
</html>