<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <link rel='stylesheet' href='/stylesheets/comm.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src='/asset/zepto.min.js'></script>
    <script type="text/javascript" src='/asset/cordova-2.3.0.js'></script>
  </head>
  <body>
    <header class="header">
        <h1 class="fn">我的团购券</h1>
    </header>
    <section id="content-wrapper">
          <div class="content">
              <div class="tickets">

                  <div class="ticket-head-sep">
                    <span class="item-num"><i>2</i> 条团购券</span>
                    <span class="item-from">来自 <i>Kane Xiao</i></span>
                  </div>
                  <div class="ticket-item">
                      <div class="ticket-info">
                          <div class="ticket-title clearfix">
                              <h4 class="fl">毒犯国际万裕影城</h4>
                              <span class="fr">2013-01-30</span>
                          </div>
                              
                          <div class="ticket-extral-info clearfix">
                              <span class="ticket-no">券号：9646879567</span>
                              <span class="ticket-vertify-status ico-vertify-status-ok">验证成功</span>
                          </div>
                      </div>
                      <div class="line"></div>
                  </div>
                  <div class="ticket-item">
                      <div class="ticket-info">
                          <div class="ticket-title clearfix">
                              <h4 class="fl">毒犯国际万裕影城</h4>
                              <span class="fr">2013-01-30</span>
                          </div>
                              
                          <div class="ticket-extral-info clearfix">
                              <span class="ticket-no">券号：9646879567</span>
                              <span class="ticket-vertify-status ico-vertify-status-ok">验证成功</span>
                          </div>
                      </div>
                      <div class="line"></div>
                  </div>
                  <div class="ticket-end-sep">
                    <span class="item-time">------ <i>2013年01月30日 21:38</i> ------</span>
                  </div>

                  <div class="ticket-head-sep">
                    <span class="item-num"><i>2</i> 条团购券</span>
                    <span class="item-from">来自 <i>Kane Xiao</i></span>
                  </div>
                  <div class="ticket-item">
                      <div class="ticket-info">
                          <div class="ticket-title clearfix">
                              <h4 class="fl">毒犯国际万裕影城</h4>
                              <span class="fr">2013-01-30</span>
                          </div>
                              
                          <div class="ticket-extral-info clearfix">
                              <span class="ticket-no">券号：9646879567</span>
                              <span class="ticket-vertify-status ico-vertify-status-ok">验证成功</span>
                          </div>
                      </div>
                      <div class="line"></div>
                  </div>
                  <div class="ticket-end-sep">
                    <span class="item-time">------ <i>2013年01月30日 21:38</i> ------</span>
                  </div>

                  <div class="ticket-head-sep">
                    <span class="item-num"><i>2</i> 条团购券</span>
                    <span class="item-from">来自 <i>Kane Xiao</i></span>
                  </div>
                  <div class="ticket-item">
                      <div class="ticket-info">
                          <div class="ticket-title clearfix">
                              <h4 class="fl">毒犯国际万裕影城</h4>
                              <span class="fr">2013-01-30</span>
                          </div>
                              
                          <div class="ticket-extral-info clearfix">
                              <span class="ticket-no">券号：9646879567</span>
                              <span class="ticket-vertify-status ico-vertify-status-error">验证成功</span>
                          </div>
                      </div>
                      <div class="line"></div>
                  </div>
                  <div class="ticket-item">
                      <div class="ticket-info">
                          <div class="ticket-title clearfix">
                              <h4 class="fl">毒犯国际万裕影城</h4>
                              <span class="fr">2013-01-30</span>
                          </div>
                              
                          <div class="ticket-extral-info clearfix">
                              <span class="ticket-no">券号：9646879567</span>
                              <span class="ticket-vertify-status ico-vertify-status-ok">验证成功</span>
                          </div>
                      </div>
                      <div class="line"></div>
                  </div>
                  <div class="ticket-item selected">
                      <div class="ticket-info">
                          <div class="ticket-title clearfix">
                              <h4 class="fl">毒犯国际万裕影城</h4>
                              <span class="fr">2013-01-30</span>
                          </div>
                              
                          <div class="ticket-extral-info clearfix">
                              <span class="ticket-no">券号：9646879567</span>
                              <span class="ticket-vertify-status ico-vertify-status-waiting">待验证</span>
                          </div>
                      </div>
                      <div class="line"></div>
                  </div>
                  <div class="ticket-end-sep">
                    <span class="item-time">------ <i>2013年01月30日 21:38</i> ------</span>
                  </div>

                  <div class="ticket-head-sep">
                    <span class="item-num"><i>2</i> 条团购券</span>
                    <span class="item-from">来自 <i>Kane Xiao</i></span>
                  </div>
                  <div class="ticket-item">
                      <div class="ticket-info">
                          <div class="ticket-title clearfix">
                              <h4 class="fl">毒犯国际万裕影城</h4>
                              <span class="fr">2013-01-30</span>
                          </div>
                              
                          <div class="ticket-extral-info clearfix">
                              <span class="ticket-no">券号：9646879567</span>
                              <span class="ticket-vertify-status ico-vertify-status-ok">验证成功</span>
                          </div>
                      </div>
                      <div class="line"></div>
                  </div>
                  <div class="ticket-item selected">
                      <div class="ticket-info">
                          <div class="ticket-title clearfix">
                              <h4 class="fl">毒犯国际万裕影城</h4>
                              <span class="fr">2013-01-30</span>
                          </div>
                              
                          <div class="ticket-extral-info clearfix">
                              <span class="ticket-no">券号：9646879567</span>
                              <span class="ticket-vertify-status ico-vertify-status-waiting">待验证</span>
                          </div>
                      </div>
                      <div class="line"></div>
                  </div>
                  <div class="ticket-item">
                      <div class="ticket-info">
                          <div class="ticket-title clearfix">
                              <h4 class="fl">毒犯国际万裕影城</h4>
                              <span class="fr">2013-01-30</span>
                          </div>
                              
                          <div class="ticket-extral-info clearfix">
                              <span class="ticket-no">券号：9646879567</span>
                              <span class="ticket-vertify-status ico-vertify-status-waiting">待验证</span>
                          </div>
                      </div>
                      <div class="line"></div>
                  </div>
                  <div class="ticket-item">
                      <div class="ticket-info">
                          <div class="ticket-title clearfix">
                              <h4 class="fl">毒犯国际万裕影城</h4>
                              <span class="fr">2013-01-30</span>
                          </div>
                              
                          <div class="ticket-extral-info clearfix">
                              <span class="ticket-no">券号：9646879567</span>
                              <span class="ticket-vertify-status ico-vertify-status-error">验证失败</span>
                          </div>
                      </div>
                      <div class="line"></div>
                  </div>
                  <div class="ticket-end-sep">
                    <span class="item-time">------ <i>2013年01月30日 21:38</i> ------</span>
                  </div>
              </div>
          </div>
    </section>
    <footer class="footer">
      <div class="shop-item clearfix">
        <span class="shop-img fl"><img src="/images/img-usr-conn.png" alt="商户名" /></span>
        <div class="item-info">
          <h2 class="shop-name">老叔烧烤</h2>
          <span class="shop-address">地址：长宁路1018号龙之梦购物中心(近凯旋路)</span>
        </div>
      </div>
    </footer>
  </body>
</html>
