<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <link rel='stylesheet' href='/stylesheets/comm.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src='/asset/zepto.min.js'></script>
    <script type="text/javascript" src='/asset/cordova-2.3.0.js'></script>
  </head>
  <body>
    <div class="header">
        <h1 class="fn">我的团购券</h1>
    </div>
    <p>Welcome to <%= title %></p>
  </body>
</html>
