html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	margin:0
	padding:0
	border:0
	font-size:100%
	vertical-align:baseline
	list-style: none

body
	line-height:1

section,article,aside,header,footer,nav,dialog,figure
	display:block

figure
	margin:0

.clearfix:after
	content:"."
	display:block
	height:0
	clear:both
	visibility:hidden

.clearfix
	display:inline-block

/* Hides from IE-mac \*/* html .clearfix
	height:1%

.clearfix
	display:block

/* End hide from IE-mac */ .fl 
	float:left

.fr 
	float:right

.hidden 
	display:none!important

.cb 
	clear:both

.cl 
	clear:left

.cr 
	clear:right

.tl 
	text-align:left

.tr 
	text-align:right

.tc 
	text-align:center

.vm 
	vertical-align:middle

.pr 
	position:relative

.pa 
	position:absolute

.fn 
	font-weight:normal

.fb 
	font-weight:bold

.zoom 
	zoom:1

body 
	font:normal 14px/1.5 "Microsoft Yahei", 'Tahoma', 'simsun', 'Arial', 'Helvetica', 'STHeiti'

h1,h2 
	font:bolder 18px/1.5 "Microsoft Yahei", 'Tahoma', 'simsun', 'Arial', 'Helvetica', 'STHeiti'

a 
	color:#3e3e3e
	text-decoration: none

a:hover 
	color:#f60

.invisible 
	visibility:hidden

