.header
    height: 30px
    padding: 10px 0
    text-align: center
    background: #005e94 url(./img/header-bg.png) repeat-x;
    color: #ffffff

#content-wrapper
    position: absolute
    top: 50px
    bottom: 0
    left: 0
    width: 100%

.tickets
    background-color: #e2e2e2

.ticket-info
    padding: 10px
    background-color: #f2f2f2

.selected .ticket-info
    background-color: #005b8f

.ticket-title
    font-size: 1.2em    
    margin-bottom: 0.5em

.ticket-title h4
    font-weight: normal

.selected .ticket-title,
.selected .ticket-extral-info
    color: #ffffff

.ticket-extral-info
    color: #999999

.line
    height: 1px
    background-color: #ffffff
    margin: 1px 0

.ticket-no
    float: left

.ticket-vertify-status
    padding-left: 30px
    float: right

.ico-vertify-status-error,
.ico-vertify-status-ok
    color: #0082cc

.selected .ico-vertify-status-waiting
    background: url(./img/sprites.png) no-repeat left -120px

.ico-vertify-status-ok
    background: url(./img/sprites.png) no-repeat left 0

.ico-vertify-status-error
    background: url(./img/sprites.png) no-repeat left -40px

.ico-vertify-status-waiting
    background: url(./img/sprites.png) no-repeat left -160px






