/* varible */
yellow = #f48307

/* Mixin */
/* reset */
body
    margin: 0
    font-family: '微软雅黑', '黑体', 'tahoma', 'sans-serif'

h3, h4
    margin: 0

ul
    list-style: none
    padding-left: 0
    margin: 0

.clearfix:after 
    content: " "
    display: block
    height: 0
    clear: both
    visibility: hidden

.clearfix
    zoom: 1

/* ui */
.header
    text-align: center
    padding: 10px 0
    background-color: yellow
    color: white
    border-bottom: 2px solid #ddd

#content-wrapper
    position: absolute
    top: 47px
    bottom: 0
    left: 0
    width: 100%

.tickets li
    border-bottom: 2px solid #eee
    border-top: 2px solid #eee
    padding: 10px
    margin: 2px 0
    background-color: #fafafa

.tickets .ticket-title h4
    font-weight: normal
    float: left

.tickets .ticket-title span
    float: right

.tickets .ticket-extral-info
    font-size: 14px

.tickets .ticket-extral-info .ticket-no
    color: #999999
    float: left

.tickets .ticket-extral-info .ticket-vertify-status
    color: #0082cc
    float: right

    


